<form [formGroup]="holidayForm" (ngSubmit)="onSubmit()">

  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>

  <br><br>

  <mat-form-field appearance="outline">
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>

  <br><br>

  <mat-checkbox formControlName="coverPath">
    Has Cover
  </mat-checkbox>

  <br><br>

  <button mat-raised-button color="primary" type="submit">
    Save
  </button>

</form>
